/*TEST TEST TEST*/
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: #fffde2;
    /*font-family: 'Piazzolla', sans-serif;*/
    /*font-style: italic;*/
    font-family: "Copperplate Gothic Light", sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.containernav {
    width: 95%;
    margin: 0 auto;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.container2 {
    padding: 0;
}
img {
    max-width: 100%;
    height: auto;
}

/* typography
=============================*/

.moto {
    font-size: 3em;
    margin-bottom: 1.5em;
}
.moto span{
    font-size: 1.75rem;
    opacity: 0.7;
    display: block;
}
.description {
    padding-bottom: 2%;
    text-transform: uppercase;
}

/* Button
=============================*/

.button {
    font-size: 1.15rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 1.9px;
    border-style: solid;
    padding: 0.5em 1em;
    display: inline-block;
    color: rgb(119, 97, 114);
}
.button:hover {
    color:rgb(81, 142, 160);
}
.button:focus {
    color: rgb(49, 41, 41);
}
/* NAVIGATION BAR
==============================*/

header {
    position: absolute;
    width: 100%;
}

/* Clearfix to solve float problems, read more https://developer.mozilla.org/en-US/docs/Web/CSS/::after */

header::after {
    content: "";
    display: table;
    clear: both;
}
.logo {
    float: left;
    padding: 5px 0;
    max-width: 10%;
}
nav {
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 15px;
    position: relative;
}
nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover {
    color: #000;
}
nav a::before {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background-color: #444;
    position: absolute;
    top: 0;
    transition: all ease-in-out 120ms;
}
nav a:hover::before {
    width: 100%;
}

/* INTRODUCTION
==============================*/

.intro {
    /*background-image: url(../Intro-back.jpg);*/
    background-size: cover;
    text-align: center;
    padding: 8em 0;
    height: 100vh;
    justify-content: center;
    display: flex;
}

/* Pathway
==============================*/
#pathway{
    padding-top: 2%;
    padding-bottom: 2%;
}
.explanation {
    text-align: center;
    text-transform: uppercase;
    margin-top: 1%;
}
.row{
    padding: 5vh 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
@media (min-width: 40rem) {
    .row {
        flex-direction: row;
    }
}
.step {
    width: 30%;
    padding: 1%;
    border-style: solid;
    border-width: 0.1rem;
    background: #f4f4f4;
    box-shadow: var(--shadow);
}
.step h1{
    margin-bottom: 3%;
}

/* GALLERY
===================================*/
.ending {
    display: grid;
    padding-left: 22vh;
    padding-right: 22vh;
    padding-bottom: 10vh;
    grid-template-columns: 1fr 1fr;
    min-width: 100%;
    min-height: 100%;
}
.gallery {
    padding: 0;
}
.portfolio {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(13, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}
.portfolio-item {
    font-weight: 300;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio-item.medium{
    grid-row: span 3;
    grid-column: span 2;
}
.portfolio-item.tall{
    grid-row: span 4;
    grid-column: span 2;
}
.port {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}
.port-item {
    font-weight: 300;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.port-item.medium{
    grid-row: span 2;
    grid-column: span 2;
}
.port-item.tall{
    grid-row: span 3;
    grid-column: span 2;
}
.one {
    background-image: url(../image0.jpeg);
    background-size: cover;
    overflow: hidden;
}
.two {
    background-image: url(../image1.jpeg);
    background-size: cover;
    background-position: center;
}
.three {
    background-image: url(../image2.jpeg);
    background-size: cover;
}
.four {
    background-image: url(../image4.jpeg);
    background-size: cover;
}
.five{
    background-image: url(../image3.jpeg);
    background-size: cover;
}
.six{
    background-image: url(../image5.jpeg);
    background-size: cover;
}
.seven{
    background-image: url(../mhb.jpeg);
    background-size: cover;
}
.desc{
    visibility: hidden;
}
.one:hover .desc,
.two:hover .desc,
.three:hover .desc,
.four:hover .desc {
    visibility: visible;
    color: white;
}
.five:hover .desc{
        visibility: visible;
    color: white;
}
.six:hover .desc{
        visibility: visible;
    color: white;
}
.seven:hover .desc{
    visibility: visible;
    color: white;
}
.one:hover {
    background-color: rgba(104, 104, 104, 0.9);
    background-blend-mode: multiply;
    transition: ease-in-out 250ms;
    box-shadow: var(--shadow);
}
.two:hover {
    background-color: rgba(104, 104, 104, 0.9);
    background-blend-mode: multiply;
    transition: ease-in-out 250ms;
    box-shadow: var(--shadow);
}
.three:hover {
    background-color: rgba(104, 104, 104, 0.9);
    background-blend-mode: multiply;
    transition: ease-in-out 250ms;
    box-shadow: var(--shadow);
}
.four:hover {
    background-color: rgba(104, 104, 104, 0.9);
    background-blend-mode: multiply;
    transition: ease-in-out 250ms;
    box-shadow: var(--shadow);
}
.five:hover {
    background-color: rgba(104, 104, 104, 0.9);
    background-blend-mode: multiply;
    transition: ease-in-out 250ms;
    box-shadow: var(--shadow);
}
.six:hover {
    background-color: rgba(104, 104, 104, 0.9);
    background-blend-mode: multiply;
    transition: ease-in-out 250ms;
    box-shadow: var(--shadow);
}
.seven:hover {
    background-color: rgba(104, 104, 104, 0.9);
    background-blend-mode: multiply;
    transition: ease-in-out 250ms;
    box-shadow: var(--shadow);
}
/* CONTACT ME FORM
===================================*/
.contact h1 {
    font-size: 1.5em;
    text-transform: uppercase;
    padding-bottom: 1vh;
    margin-top: 0;
}
.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}
.input-row .input-group {
    flex-basis: 45%;
}

input, select {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    padding-bottom: 2%;
    padding-top: 2%;
    background: none;
    color: grey;
}
/* select {
    outline: none;
} */
input.not {
    border:none;
    width: 100%;
}
input:focus::placeholder{
    color: transparent;
}
textarea {
    width: 100%;
    border: 1px solid grey;
    outline: none;
    margin-top: 1%;
    padding: 1%;
    box-sizing: border-box;
}
textarea:focus::placeholder{
    color: transparent;
}
label {
    margin-bottom: 1%;
}
button {
    font-size: 1.15rem;
    text-transform: uppercase;
    margin-top: 1vh;
    width: 100%;
    height: 5vh;
    color: rgb(119, 97, 114);
}
/* FOOTER
=================================*/
footer {
    background-color: rgb(221, 216, 216);
    border-top: 1px solid white;
    text-align: center;
    padding-bottom: 3%;
    width: 100%;
}
footer h1{
    text-transform: uppercase;
    font-weight: 300;
}
footer p{
    text-transform: uppercase;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .header-image {
        display: initial
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}

/*--------------------- Media Query (max-width:800px) ---------------------*/

@media (max-width:800px) {
    .section-p1 {
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.3);
        padding: 80px 0 0 10px;
        transition: .3s;
    }
    #navbar.active {
        right: 0px;
    }
    #navbar li {
        margin-bottom: 25px;
    }
    #mobile {
        display: flex;
        align-items: center;
    }
    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    #lg-bag {
        display: none;
    }
    #hero {
        height: 70vh;
        width: 100%;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #feature {
        justify-content: center;
    }
    #feature .fe-box {
        margin: 15px 15px;
    }
    #product1 .pro-container {
        justify-content: center;
    }
    #product1 .pro {
        margin: 15px;
    }
    /* Contact-Page */
    #form-details {
        padding: 40px;
    }
    #form-details form {
        width: 50%;
    }
    #filter {
        height: 50vh;
    }
    /*TEST TEST TEST*/
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: #fffde2;
    /*font-family: 'Piazzolla', sans-serif;*/
    /*font-style: italic;*/
    font-family: "Copperplate Gothic Light", sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.containernav {
    width: 95%;
    margin: 0 auto;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.container2 {
    padding: 0;
}
img {
    max-width: 100%;
    height: auto;
}

/* typography
=============================*/

.moto {
    font-size: 3em;
    margin-bottom: 1.5em;
}
.moto span{
    font-size: 1.75rem;
    opacity: 0.7;
    display: block;
}
.description {
    padding-bottom: 2%;
    text-transform: uppercase;
}

/* Button
=============================*/

.button {
    font-size: 1.15rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 1.9px;
    border-style: solid;
    padding: 0.5em 1em;
    display: inline-block;
    color: rgb(119, 97, 114);
}
.button:hover {
    color:rgb(81, 142, 160);
}
.button:focus {
    color: rgb(49, 41, 41);
}
/* NAVIGATION BAR
==============================*/

header {
    position: absolute;
    width: 100%;
}

/* Clearfix to solve float problems, read more https://developer.mozilla.org/en-US/docs/Web/CSS/::after */

header::after {
    content: "";
    display: table;
    clear: both;
}
.logo {
    float: left;
    padding: 5px 0;
    max-width: 10%;
}
nav {
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 15px;
    position: relative;
}
nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover {
    color: #000;
}
nav a::before {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background-color: #444;
    position: absolute;
    top: 0;
    transition: all ease-in-out 120ms;
}
nav a:hover::before {
    width: 100%;
}

/* INTRODUCTION
==============================*/

.intro {
    /*background-image: url(../Intro-back.jpg);*/
    background-size: cover;
    text-align: center;
    padding: 8em 0;
    height: 100vh;
    justify-content: center;
    display: flex;
}

/* Pathway
==============================*/
#pathway{
    padding-top: 2%;
    padding-bottom: 2%;
}
.explanation {
    text-align: center;
    text-transform: uppercase;
    margin-top: 1%;
}
.row{
    padding: 5vh 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
@media (min-width: 40rem) {
    .row {
        flex-direction: row;
    }
}
.step {
    width: 30%;
    padding: 1%;
    border-style: solid;
    border-width: 0.1rem;
    background: #f4f4f4;
    box-shadow: var(--shadow);
}
.step h1{
    margin-bottom: 3%;
}

/* GALLERY
===================================*/
.ending {
    display: grid;
    padding-left: 22vh;
    padding-right: 22vh;
    padding-bottom: 10vh;
    grid-template-columns: 1fr 1fr;
    min-width: 100%;
    min-height: 100%;
}
.gallery {
    padding: 0;
}
.portfolio {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(13, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}
.portfolio-item {
    font-weight: 300;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio-item.medium{
    grid-row: span 3;
    grid-column: span 2;
}
.portfolio-item.tall{
    grid-row: span 4;
    grid-column: span 2;
}
.port {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}
.port-item {
    font-weight: 300;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.port-item.medium{
    grid-row: span 2;
    grid-column: span 2;
}
.port-item.tall{
    grid-row: span 3;
    grid-column: span 2;
}
.one {
    background-image: url(../image0.jpeg);
    background-size: cover;
    overflow: hidden;
}
.two {
    background-image: url(../image1.jpeg);
    background-size: cover;
    background-position: center;
}
.three {
    background-image: url(../image2.jpeg);
    background-size: cover;
}
.four {
    background-image: url(../image4.jpeg);
    background-size: cover;
}
.five{
    background-image: url(../image3.jpeg);
    background-size: cover;
}
.six{
    background-image: url(../image5.jpeg);
    background-size: cover;
}
.seven{
    background-image: url(../mhb.jpeg);
    background-size: cover;
}
.desc{
    visibility: hidden;
}
.one:hover .desc,
.two:hover .desc,
.three:hover .desc,
.four:hover .desc {
    visibility: visible;
    color: white;
}
.five:hover .desc{
        visibility: visible;
    color: white;
}
.six:hover .desc{
        visibility: visible;
    color: white;
}
.seven:hover .desc{
    visibility: visible;
    color: white;
}
.one:hover {
    background-color: rgba(104, 104, 104, 0.9);
    background-blend-mode: multiply;
    transition: ease-in-out 250ms;
    box-shadow: var(--shadow);
}
.two:hover {
    background-color: rgba(104, 104, 104, 0.9);
    background-blend-mode: multiply;
    transition: ease-in-out 250ms;
    box-shadow: var(--shadow);
}
.three:hover {
    background-color: rgba(104, 104, 104, 0.9);
    background-blend-mode: multiply;
    transition: ease-in-out 250ms;
    box-shadow: var(--shadow);
}
.four:hover {
    background-color: rgba(104, 104, 104, 0.9);
    background-blend-mode: multiply;
    transition: ease-in-out 250ms;
    box-shadow: var(--shadow);
}
.five:hover {
    background-color: rgba(104, 104, 104, 0.9);
    background-blend-mode: multiply;
    transition: ease-in-out 250ms;
    box-shadow: var(--shadow);
}
.six:hover {
    background-color: rgba(104, 104, 104, 0.9);
    background-blend-mode: multiply;
    transition: ease-in-out 250ms;
    box-shadow: var(--shadow);
}
.seven:hover {
    background-color: rgba(104, 104, 104, 0.9);
    background-blend-mode: multiply;
    transition: ease-in-out 250ms;
    box-shadow: var(--shadow);
}
/* CONTACT ME FORM
===================================*/
.contact h1 {
    font-size: 1.5em;
    text-transform: uppercase;
    padding-bottom: 1vh;
    margin-top: 0;
}
.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}
.input-row .input-group {
    flex-basis: 45%;
}

input, select {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    padding-bottom: 2%;
    padding-top: 2%;
    background: none;
    color: grey;
}
/* select {
    outline: none;
} */
input.not {
    border:none;
    width: 100%;
}
input:focus::placeholder{
    color: transparent;
}
textarea {
    width: 100%;
    border: 1px solid grey;
    outline: none;
    margin-top: 1%;
    padding: 1%;
    box-sizing: border-box;
}
textarea:focus::placeholder{
    color: transparent;
}
label {
    margin-bottom: 1%;
}
button {
    font-size: 1.15rem;
    text-transform: uppercase;
    margin-top: 1vh;
    width: 100%;
    height: 5vh;
    color: rgb(119, 97, 114);
}
/* FOOTER
=================================*/
footer {
    background-color: rgb(221, 216, 216);
    border-top: 1px solid white;
    text-align: center;
    padding-bottom: 3%;
    width: 100%;
}
footer h1{
    text-transform: uppercase;
    font-weight: 300;
}
footer p{
    text-transform: uppercase;
}


}


/*--------------------- Media Query (max-width:477px) ---------------------*/

@media (max-width:477px) {
    .section-p1 {
        padding: 20px;
    }

    #header {
        padding: 10px 30px;
    }

    h2 {
        font-size: 38px;
    }

    h1 {
        font-size: 46px;
    }

    h4 {
        font-size: 28px;
        font-weight: 500;
    }

    #hero {
        padding: 0 20px;
        background-position: 55%;
    }

    #feature {
        justify-content: space-between;
    }

    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }

    #product1 .pro {
        width: 100%;
    }

    #banner {
        height: 40vh;
    }

    #sm-banner .banner-box {
        height: 40vh;
    }

    #sm-banner .banner-box2 {
        margin-top: 20px;
    }

    #banner3 {
        padding: 0 20px;
    }

    #banner3 .banner-box {
        width: 100%;
    }

    #banner3 .banner-box h2 {
        line-height: 2rem;
        font-weight: 800;
    }

    #newsletter {
        padding: 40px 20px;
    }

    #newsletter .form {
        width: 100%;
    }

    #newsletter p {
        font-size: 18px;
        font-weight: 600;
        color: #818ea0;
    }

    footer .copyright {
        text-align: start;
    }

    /* Single Product-Page */
    #pro-details {
        display: flex;
        flex-direction: column;
    }

    #pro-details .single-pro-image {
        width: 100%;
    }

    #pro-details .single-pro-details {
        width: 100%;
        padding-top: 30px;
    }

    #pro-details .single-pro-details select {
        padding: 10px 10px;
        margin-bottom: 10px;
        font-size: 14px;
    }

    #pro-details .single-pro-details input {
        width: 50px;
        height: 40px;
    }

    /* About-Page */
    #about-head {
        flex-direction: column;
    }

    #about-head img {
        width: 100%;
        margin-bottom: 20px;
    }

    #about-head div {
        padding-left: 0px;
    }

    #about-head div p {
        font-size: 18px;
        text-align: justify;
    }

    #about-app h1 {
        line-height: 50px;
    }

    #about-app .video {
        width: 100%;
    }

    /* Contact-Page */
    #filter {
        height: 47vh;
    }

    #contact-details {
        flex-direction: column;
    }

    #contact-details .details {
        width: 100%;
        margin-bottom: 30px;
    }

    #contact-details .details h2,
    #form-details form h2 {
        font-size: 30px;
        line-height: 35px;
        padding: 20px 0;
    }

    #contact-details .details h2,
    #form-details form h2 {
        font-size: 26px;
        line-height: 30px;
        padding: 20px 0;
    }

    #contact-details .details h3 {
        font-size: 20px;
        padding-bottom: 0px;
        color: #4c4c4c;
    }

    #contact-details .details li i {
        font-size: 14px;
        padding-right: 9px;
    }

    #contact-details .map {
        width: 100%;
        height: 380px;
    }

    #form-details {
        margin: 10px;
        padding: 30px 10px 10px 10px;
        flex-wrap: wrap;
    }

    #form-details form {
        width: 100%;
        margin-bottom: 30px;
    }

    #form-details form input,
    #form-details form textarea {
        padding: 16px 12px;
        font-size: 16px;
    }

    #form-details form button {
        padding: 12px 16px;
        display: flex;
        justify-content: flex-end;
    }

    #form-details .people {
        margin-top: 20px;
    }

    #form-details .people div:first-of-type {
        padding-top: 30px;
    }

    /* Kart-Page */
    #cart-add {
        flex-direction: column;
    }

    #coupon {
        width: 100%;
        text-align: center;
    }

    #subtotal {
        width: 100%;
        padding: 20px;
    }
}