
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <script type="text/javascript" src = "{{ url_for('static', filename = 'js/main.js')}}"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>art@mhb</title>
    </head>

    <body>
 <!-- NAVIGATION STARTS HERE -->
    <header>
        <div class="containernav">
            <a href="https://www.instagram.com/maddi_but_with_art/?hl=en"><img src="mhb-removebg-preview.png" alt="logo" class="logo"></a>
            <nav>
                <ul>
                    <li><a href="#intro">Home</a></li>
                    <li><a href="#gallery">Gallery</a></li>
                    <li><a href="#gallery">Contact me</a></li>
                </ul>
            </nav>
        </div>
    </header>
 <!-- NAVIGATION ENDS HERE -->

<!-- INTRODUCTION STARTS HERE -->
    <section id="intro" class="intro">
        <div class="container">
            <h1 class="moto">Madeline's Portfolio </br>
                <span>A Collection of Art Pieces</span>
                <span>My Art. Your Design.</span>

            </h1>
            <a href="#pathway" class="button">Let's Work Together</a>
        </div>
    </section>
<!-- INTRODUCTION ENDS HERE -->

<!-- PATHWAY STARTS HERE -->
    <section id="pathway">
        <div class="container">
            <div class="explanation">
                <h1>How it works</h1>
            </div>
            <div class="row">
                <div class="step">
                    <h1> Have an idea</h1>
                    <p>I am an individual artist who is interested in collaborating with you on your artistic visions and ideas. If you have a specific request or concept that you would like to bring to life, please don't hesitate to reach out to me. I am always open to hearing new and creative ideas, and I am dedicated to working with you to bring your vision to life. Whether you have a specific theme or medium in mind, or you just have a general concept that you would like to explore further, I am here to help. So don't hesitate to submit your request to me – I can't wait to get started on bringing your artistic dreams to reality!</p>
                </div>
                <div class="step">
                    <h1> Customise it</h1>
                    <p> If you have a specific request or concept that you would like to bring to life, I encourage you to provide as many details as possible in your request. The more information you can provide about your vision, including stylistic choices, preferred medium, and desired size, the better I will be able to understand and bring your ideas to life. I am dedicated to working with you to create something truly special and one-of-a-kind, and I am eager to hear your unique artistic ideas. So don't hesitate to reach out to me with your request.</p>
                </div>
                <div class="step">
                    <h1>Receive it</h1>
                    <p> In order to ensure a smooth and efficient process for obtaining your newly created art piece, here are a few steps to follow: First, confirm the delivery method with me. If the piece is being mailed to you, consider purchasing insurance or tracking for added protection during transit. Once you have received the piece, take the time to carefully inspect it for any damage that may have occurred during handling or transit. If you notice any issues, bring them to my attention as soon as possible so that we can address them. I hope that these steps will help you to smoothly obtain your newly created art piece and that you enjoy it!</p>
                </div>
            </div>
        </div>
    </section>
<!-- PATHWAY ENDS HERE -->


<!-- GALLERY STARTS HERE -->
    <section id="gallery" class="ending">
        <div class="gallery">
            <h1>Gallery</h1>
            <div class="portfolio">
                <div  class="portfolio-item medium one"><p class="desc" >Charcoal.</p></div>
                <div class="portfolio-item medium two"><p class="desc">Colored Pencil.</p></div>
                <div class="portfolio-item tall three"><p class="desc">Acrylic.</p></div>
                <div class="portfolio-item tall four"><p class="desc">Acrylic.</p></div>
                <div class="portfolio-item tall five"><p class="desc">Acrylic.</p></div>
                <div class="portfolio-item medium six"><p class="desc">Acrylic.</p></div>
<!--                <div class="portfolio-item tall seven"><p class="desc">test</p></div>-->
            </div>
        </div>
<!-- GALLERY ENDS HERE -->

<!-- ABOUT ME STARTS HERE -->
<!-- ABOUT ME ENDS HERE -->
        <div class="contact">
            <!-- ABOUT ME ENDS HERE -->
            <div class="about">
               <h1>About me</h1>
               <p>I'm a recent graduate of Eastern Connecticut State University, where I studied anthropology. I have a passion for art and have been creating it throughout my life. My main areas of expertise are painting, sculpture, and figure drawing, but I am also expanding my skills in digital art and animation. I am known for my handmade cards which I can customize to fit any theme or occasion.</p>
<!--               <br>-->
<!--               <p>I h</p>-->
            </div>
            <br>
            <h1>Request a quote</h1>
            <p>Are you looking to bring a new art piece to life? I would love to collaborate with you on your vision! If you have an idea for an art project that you would like to see come to fruition, don't hesitate to send me a request. We can work together to bring your creative ideas to life and create something truly unique and special. Whether you have a specific theme or medium in mind, or you just have a general idea that you would like to explore further, I am open to discussing all possibilities. Let's make something beautiful together!</p>
            <br>

            <!-- FORM STARTS HERE -->
            <form action="mailto:mhbrown99q@gmail.com" method="POST" enctype="text/plain" class="form">
                <div class="input-row">
                    <div class="input-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" placeholder="Your Name">
                    </div>
                    <div class="input-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder="Your Email">
                    </div>
                </div>
                <div class="input-row">
                    <div class="input-group">
                        <label for="technique">Technique</label>
                        <select id="technique" name="technique">
                            <option value="">Select</option>
                            <option value="pencil">Pencils</option>
                            <option value="pen">Ballpoint Pen</option>
                            <option value="acrylic">Acrylic Paints</option>
                            <option value="acrylic">Digital</option>
                            <option value="acrylic">Prints</option>

                        </select>
                    </div>
                    <div class="input-group">
                        <label for="size">Size</label>
                        <select id="size" name="size">
                            <option value="">Select</option>
                            <option value="card">Card</option>
                            <option value="a3">A3</option>
                            <option value="a4">A4</option>
                            <option value="a5">A5</option>
                            <option value="custom">Custom</option>
                        </select>
                    </div>
                </div>
                <div class="input-group">
                    <label for="image" class="not">Reference picture (web link)</label>
                    <input type="text" id="image" name="Image" placeholder="Image">

                </div>
                <label for="notes">Specifications</label>
                <textarea name="notes" id="notes" rows="6" placeholder="Please include any additional notes here"></textarea>
                <button type="submit" onclick="myFunction()">Send</button>
            </form>

        </div>
    </section>

<!-- FORM ENDS HERE -->
<!-- GALLERY ENDS HERE -->
    <footer>
            <br>
            <h1>Thank you</h1>
            <p>@MHB</p>
            <p>Stay Artistic</p>
    </footer>
    </body>
</html>