
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <script type="text/javascript" src = "{{ url_for('static', filename = 'js/main.js')}}"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>art@mhb</title>
    </head>

    <body>
 <!-- NAVIGATION STARTS HERE -->
    <header>
        <div class="containernav">
            <a href="#"onclick="window.open('https://www.youtube.com/@blurrilines6148');"><img src="mhb-removebg-preview.png" alt="logo" class="logo"></a>
<!--            <a href="#"onclick="window.open('https://www.instagram.com/maddi_but_with_art/?hl=en');"><img src="mhb-removebg-preview.png" alt="logo" class="logo"></a>-->

            <nav>
                <ul>
                    <li><a href="#intro">Home</a></li>
                    <li><a href="#gallery">Gallery</a></li>
                    <li><a href="#gallery">Contact me</a></li>
                </ul>
            </nav>
        </div>
    </header>
 <!-- NAVIGATION ENDS HERE -->

<!-- INTRODUCTION STARTS HERE -->
    <section id="intro" class="intro">
        <div class="container">
            <h1 class="moto">Madeline's Portfolio </br>
                <span>A Collection of Art Pieces</span>
                <span>My Art. Your Design.</span>

            </h1>
            <a href="#pathway" class="button">Let's Work Together</a>
        </div>
    </section>
<!-- INTRODUCTION ENDS HERE -->

<!-- PATHWAY STARTS HERE -->
    <section id="pathway">
        <div class="container">
            <div class="explanation">
                <h1>How it works</h1>
            </div>
            <div class="row">
                <div class="step">
                    <h1> Have an idea</h1>
                </div>
                <div class="step">
                    <h1> Customise it</h1>
                </div>
                <div class="step">
                    <h1>Receive it</h1>
                </div>
            </div>
        </div>
    </section>
<!-- PATHWAY ENDS HERE -->


<!-- GALLERY STARTS HERE -->
<section id="gallery" class="ending">
    <div class="gallery">
        <h1>Gallery</h1>
        <div class="portfolio">
            <a href="../image0.jpeg" class="portfolio-item medium one"><p class="desc" >Charcoal.</p></a>
            <a href="../image1.jpeg" class="portfolio-item medium two"><p class="desc">Colored Pencil.</p></a>
            <a href="../image2.jpeg" class="portfolio-item tall three"><p class="desc">Oil.</p></a>
            <a href="../image4.jpeg" class="portfolio-item tall four"><p class="desc">Acrylic.</p></a>
            <a href="../image3.jpeg" class="portfolio-item medium five"><p class="desc">Acrylic.</p></a>
            <a href="../image5.jpeg" class="portfolio-item medium six"><p class="desc">Oil.</p></a>
            <a href="../image6.jpeg" class="portfolio-item medium seven"><p class="desc">Marker.</p></a>
            <a href="../IMG_1194.jpg" class="portfolio-item medium eight"><p class="desc">Print.</p></a>
            <a href="../bunny.jpeg" class="portfolio-item tall nine"><p class="desc">Digital.</p></a>
            <a href="../cat2.jpeg" class="portfolio-item tall ten"><p class="desc">Digital.</p></a>
            <a href="../anime.jpeg" class="portfolio-item tall eleven"><p class="desc">Digital.</p></a>
        </div>
    </div>
<!-- GALLERY ENDS HERE -->
<!--    <br>-->
<!--    <br>-->
<!-- ABOUT ME STARTS HERE -->
<!-- ABOUT ME ENDS HERE -->
        <div class="contact">
            <!-- ABOUT ME ENDS HERE -->
            <div class="about about-section">
               <h1>About me</h1>
               <p>I'm a recent graduate of Eastern Connecticut State University, where I studied anthropology. I have a passion for art and have been creating it throughout my life. My main areas of expertise are painting, sculpture, and figure drawing, but I am also expanding my skills in digital art and animation. I am known for my handmade cards which I can customize to fit any theme or occasion.</p>
<!--               <br>-->
<!--               <p>I h</p>-->
            <br>
            <h1>Request a quote</h1>
            <p>Are you looking to bring a new art piece to life? I would love to collaborate with you on your vision! If you have an idea for an art project that you would like to see come to fruition, don't hesitate to send me a request. We can work together to bring your creative ideas to life and create something truly unique and special. Whether you have a specific theme or medium in mind, or you just have a general idea that you would like to explore further, I am open to discussing all possibilities. Let's make something beautiful together!</p>
            <br>


            <!-- FORM STARTS HERE -->
            <form action="mailto:mhbrown99q@gmail.com" method="POST" enctype="text/plain" class="form">
                <div class="input-row">
                    <div class="input-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" placeholder="Your Name">
                    </div>
                    <div class="input-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder="Your Email">
                    </div>
                </div>
                <div class="input-row">
                    <div class="input-group">
                        <label for="technique">Technique</label>
                        <select id="technique" name="technique">
                            <option value="">Select</option>
                            <option value="pencil">Pencils</option>
                            <option value="pen">Ballpoint Pen</option>
                            <option value="acrylic">Acrylic Paints</option>
                            <option value="acrylic">Digital</option>
                            <option value="acrylic">Prints</option>

                        </select>
                    </div>
                    <div class="input-group">
                        <label for="size">Size</label>
                        <select id="size" name="size">
                            <option value="">Select</option>
                            <option value="card">Card</option>
                            <option value="a3">A3</option>
                            <option value="a4">A4</option>
                            <option value="a5">A5</option>
                            <option value="custom">Custom</option>
                        </select>
                    </div>
                </div>
                <div class="input-group">
                    <label for="image" class="not">Reference picture (web link)</label>
                    <input type="text" id="image" name="Image" placeholder="Image">

                </div>
                <label for="notes">Specifications</label>
                <textarea name="notes" id="notes" rows="6" placeholder="Please include any additional notes here"></textarea>
                <button type="submit" onclick="myFunction()">Send</button>
            </form>

        </div>
            </div>
    </section>

<!-- FORM ENDS HERE -->
<!-- GALLERY ENDS HERE -->
    <footer>
        <br>
        <h1>Thank you</h1>
        <p>@MHB</p>
        <p>Stay Artistic</p>
    </footer>
    </body>
</html>